.tree-two {
  position: absolute;
  z-index: 3;
  right: 22rem;
  bottom: 9.5rem;
  width: 9rem;
}

@media (max-width: 1200px) {
  .tree-two {
    right: 30rem;
  }
}

@media (max-width: 613px) {
  .tree-two {
    display: none;
  }
}
