.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  background: linear-gradient(#0a0a0a 8%, black 92%);
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    width: 100%;
    text-align: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    width: 10rem;
    a {
      margin: 0 1rem;
      font-weight: normal;
    }
  }

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 330px) {
  .credit {
    margin: 1rem;
  }
}
