.nav-bar {
  display: flex;
  height: 4rem;
  background-color: azure;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  ul {
    display: flex;
    width: 8rem;
    justify-content: space-between;
  }

  li {
    list-style: none;
    &:hover {
      color: #506678;
    }
  }
}
