.nav-bar {
  display: flex;
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.637);
  color: #080f0f;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 20;

  .logo {
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }
}

.player-nav {
  display: flex;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 20;

  .logo {
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      color: #535353;
      outline: white;
    }
  }
}

.icons {
  font-size: 1.2rem;
  display: flex;
  width: 3rem;
  justify-content: space-between;

  i {
    cursor: pointer;
  }
}
