.player-container {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;

  .albums-container {
    height: 100%;
    width: 25%;
    background-color: black;
  }

  .player {
    height: 100%;
    width: 50%;
  }

  .songs-container {
    height: 100%;
    width: 25%;
    background-color: black;
  }
}
