.player-container {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
}

.albums-container {
  width: 20%;
  background-color: black;
  overflow: scroll;
}

.player {
  height: 100%;
  width: 60%;
}

.songs-container {
  width: 20%;
  background-color: black;
}
