.player-container {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;

  background: linear-gradient(10deg, rgb(15, 16, 27) 8%, rgb(22, 22, 41) 50%);
  text-align: center;
}

.albums-container {
  width: 22%;
  background-color: black;
  overflow: scroll;
  transition: all 0.5s ease;
}

.player {
  width: 56%;
}

.songs-container {
  width: 22%;
  background-color: black;
  overflow: scroll;
  transition: all 0.5s ease;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 4;

  p {
    margin: 1rem 0;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}

@media (max-height: 800px) {
  .player-container {
    height: 45rem;
  }
}

@media (min-height: 1120px) {
  .player-container {
    height: 90rem;
  }
}

@media (min-height: 1270px) {
  .player-container {
    height: 100rem;
  }
}

@media (min-height: 1544px) {
  .player-container {
    height: 100rem;
  }
}

@media (max-width: 1200px) {
  .albums-container {
    display: none;
    width: 0%;
    transform: translateX(-100%);
  }

  .open-albums {
    transform: translateX(0%);
    width: 100%;
    display: block;
  }

  .player {
    width: 100%;
  }

  .open-player {
    width: 0%;
    display: none;
  }

  .songs-container {
    display: none;
    width: 0%;
    transform: translateX(-300%);
  }

  .open-songs {
    width: 100%;
    transform: translateX(0%);
    display: block;
  }
}
