.player-container {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
}

.albums-container {
  height: 100%;
  width: 20%;
  background-color: black;
  overflow: scroll;
}

.player {
  height: 100%;
  width: 60%;
}

.songs-container {
  height: 100%;
  width: 20%;
  background-color: black;
}

@media only screen and (max-width: 1300px) {
  .albums-container {
    display: none;
  }
  .songs-container {
    display: none;
  }
}
