.header {
  display: flex;
  background-color: #badefc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  position: relative;

  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #080f0f;
    z-index: 5;

    span {
      display: block;
    }
  }

  .btn {
    text-align: center;
    background-color: #080f0f;
    color: white;
    padding: 0.6rem 0.9rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 10rem;
    transition: ease-out 0.2s;
    z-index: 9;

    &:hover {
      font-size: 0.97rem;
      width: 9.5rem;
      background-color: white;
      color: #080f0f;
    }
  }
}

.sun {
  background-color: #ff845d;
  width: 13rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom-right-radius: 125%;
}

.grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13rem;
  background-color: #62a87c;
  border-radius: 100% 100% 0 0;
}
